@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

:root{
    --bebas-neue: 'Bebas Neue', cursive;
    --dosis:'Dosis', sans-serif;
}

header{
    background-color: black;
    color: white;
}

#menu-burguer{
    
}