@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --bebas-neue: 'Bebas Neue', cursive;
    --dosis:'Dosis', sans-serif;
}

main{
    margin: 30px;
    margin-top: 110px;
    text-align: center;
}

main > h1{
    font-family: var(--bebas-neue);
}

main > div{
    margin: 20px;
    color: white;
    background-color: black;
    padding: 20px;
    font-size: 23px;
    font-family: var(--dosis);
    border-radius: 12px;
}

main > div > p > a{
    color: #369492;
    padding: 4px;
}

footer{
    margin-top: 20px;
    background-color: b;
}
